<h1>This is the bookings index</h1>
<ul>
  <%@userbookings.each do |booking|%>
  <li>
    <%= booking.user.first_name %>
    <%= booking.user.last_name %>
    <%= booking.course.name %>
    <%= booking.date %>
    <%= booking.location%>
  </li>
  <%end%>
</ul>
