<div class="container py-5">
<h1>My Bookings</h1>
<ul>
  <%@userbookings.each do |booking|%>
  <li>
    <%= booking.user.first_name %>
    <%= booking.user.last_name %>
    <%= booking.course.name %>
    <%= booking.date %>
    <%= booking.location%>
  </li>
  <%end%>
</ul>
</div>
