<div class="container bookings py-5">
  <h1 class="mb-5">My Bookings</h1>
  <!-- The Below, in conjunction with the updated Bookings and User models gives us only the pending bookings wherein current user is the teacher -->
  <%= form_tag bookings_path, method: :get do %>
  <div class="d-flex mb-5">
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a course or teacher"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  </div>
  <% end %>

<!-- teacher bookings -->
  <% if @teacher_pending.present? || @teacher_confirmed.present? %>
    <h2 class="border-bottom pb-2 mb-4">Teacher bookings</h2>

    <h2 class="course-status"><i class="fas fa-circle indicator pending"></i>Pending courses</h2>
    <div class="row py-4">
    <% @teacher_pending.each do |booking| %>
        <div class="col-lg-4 col-md-12">
        <div class="confirm-btn d-flex justify-content-around mb-4">
          <%= button_to 'Confirm', booking_path(  booking, booking:{status: "confirmed"}), class: 'btn btn-primary', method: "patch" %>
          <%= button_to 'Deny', booking_path(  booking, booking:{status: "cancelled"}), class: 'btn btn-danger', method: "patch" %>
        </div>
        <div class="card-course">
          <%= render 'shared/booking_card', booking: booking %>
          <span class="card-date"><%= booking.date.strftime("%a %d %b")
         %></span>
        </div>
      </div>




    <% end %>
    </div>
     <% @teacher_confirmed.each do |booking| %>
    <h2 class="course-status"><i class="fas fa-circle indicator booked"></i>Confirmed courses</h2>
    <div class="row py-4">
        <div class="col-lg-4 col-md-12">
          <div class="card-course">
            <%= render 'shared/booking_card', booking: booking %>
            <span class="card-date"><%= booking.date.strftime("%a %d %b")
           %></span>
          </div>
        </div>
    </div>
      <br>
    <% end %>

  <% end %>

<!-- student bookings -->
  <% if @userbookings.present? %>
    <h2 class="border-bottom pb-2 mb-4">Student bookings</h2>
    <% if @userbookings.where(status: 'pending').present? %>
      <h2 class="course-status"><i class="fas fa-circle indicator pending"></i>Pending courses</h2>
    <div class="row py-4">
      <%@userbookings.where(status: 'pending').each do |booking|%>
        <div class="col-lg-4 col-md-12">
          <div class="card-course">
            <%= render 'shared/booking_card', booking: booking %>
            <span class="card-date"><%= booking.date.strftime("%a %d %b")
           %></span>
          </div>
        </div>
      <%end%>
    </div>
    <% end %>

    <% if @userbookings.where(status: 'booked').present? %>
      <h2 class="course-status"><i class="fas fa-circle indicator booked"></i>My courses</h2>
    <div class="row py-4">
      <%@userbookings.where(status: 'booked').each do |booking|%>
        <div class="col-lg-4 col-md-12">
          <div class="card-course">
            <%= render 'shared/booking_card', booking: booking %>
            <span class="card-date"><%= booking.date.strftime("%a %d %b")
           %></span>
          </div>
        </div>
      <%end%>
    </div>
    <% end %>

    <% if @userbookings.where(status: 'cancel').present? %>
      <h2 class="course-status"><i class="fas fa-circle indicator cancelled"></i>Cancelled courses</h2>
    <div class="row py-4">
      <%@userbookings.where(status: 'cancel').each do |booking|%>
        <div class="col-lg-4 col-md-12">
          <div class="card-course">
            <%= render 'shared/booking_card', booking: booking %>
            <span class="card-date"><%= booking.date.strftime("%a %d %b")
           %></span>
          </div>
        </div>
      <%end%>
    </div>
    <% end %>
  <% end %>
</div>
