<h1>User: <%= @user.first_name%> <%= @user.last_name%></h1>

<div><%= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill %></div>

<h2>Courses</h2>
<% @courses.each do |course|%>
  <h3><%=course.name%></h3>
  <h3>Review</h3>
  <% course.reviews.each do |review| %>
    <p>Stars: <%=review.stars%>, Content: <%=review.content%><p>
  <%end%>
<%end%>

<%= simple_form_for(@user) do |f| %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
<% end %>