<h1>User: <%= @user.first_name%> <%= @user.last_name%></h1>



<h2>Courses</h2>
<% @courses.each do |course|%>
  <h3><%=course.name%></h3>
  <h3>Review</h3>
  <% course.reviews.each do |review| %>
    <p>Stars: <%=review.stars%>, Content: <%=review.content%><p>
  <%end%>
<%end%>