<div class="container profile">
<%= cl_image_tag @user.photo, height: 80, width: 80, crop: :fill, class:"avatar profile-avatar" %>
  <h1 class="text-center mt-4">
    <%= @user.first_name%> <%= @user.last_name%>
  </h1>
  <h2>My Courses</h2>

  <% @courses.each do |course|%>
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="card-course">
          <%= render 'shared/card', course: course %>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <p class="section-heading">Student Reviews</p>
        <% if course.reviews.present? %>
          <% course.reviews.each do |review| %>
            <div class="card-review">
              <% review.stars.times do %>
                <i class="fas fa-star full"></i>
              <% end %>
              <% (5 - review.stars).times do %>
                <i class="far fa-star empty"></i>
              <% end %>

              <p class="text-sub"><%= review.user.first_name %> <%= review.user.last_name %></p>
              <p class="review-content"><%=review.content%></p>
            </div>
          <%end%>
        <% else %>
          <p>No reviews yet!</p>
        <% end %>
      </div>
    </div>
  <%end%>
</div>

<%= simple_form_for(@user) do |f| %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit "update profile image", class: "button" %>
<% end %>
