<img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
<div class="card-course-infos booking-card">
  <div>
    <div class="card-course-title">
      <h2>
        <%= link_to booking_path(booking) do %>
          <%= booking.course.name %>
        <% end %>
      </h2>
    </div>
  </div>

  <div class="booking-info">
    <p><strong>Student</strong> <%= booking.user.first_name %> <%= booking.user.last_name %></p>
    <p><strong>Status</strong> <%= booking.status %></p>
    <p><strong>Date</strong> <%= booking.date.strftime("%A %d %b %Y") %></p>
    <p><strong>Location</strong> <%= booking.location %></p>
    <div class="edit-options">
      <%= link_to  "#exampleModal", "data-toggle": "modal" do %>
        <i class="fas fa-edit edit"></i>
      <% end %>
      <%= link_to booking_path(booking), method: :delete do %>
        <i class="fas fa-times delete"></i>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change booking date</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(booking) do |f| %>
          <%= f.input :date, as: :string %>
      </div>
      <div class="modal-footer  justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Update Date", class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
