<img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
<div class="card-course-infos">
  <div>
    <div class="card-course-title">
      <h2>
        <%= link_to course_path(course) do %>
          <%= course.name %>
        <% end %>
      </h2>
    </div>
    <div class="card-course-detail">
      <i class="fas fa-clock"></i> <%= course.duration %>
    </div>
    <div class="card-course-detail level">
      <%= course.level %>
    </div>
    <% if course.description.length > 150 %>
      <p><%= course.description.slice(0..150) %></p>
    <% else %>
      <p><%= course.description %></p>
    <% end %>
  </div>
  <h2 class="card-course-pricing"><%= "#{course.price}円/hr" %></h2>
  <div class="avatar card-course-user" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= course.user.first_name + ' ' + course.user.last_name %>">
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-bordered">
  </div>
</div>
