<%= cl_image_tag course.photo, height: 300, width: 1200, crop: :fill %>
<div class="card-course-infos">
  <div>
    <div class="card-course-title">
      <h2>
        <%= link_to course_path(course) do %>
          <%= course.name %>
        <% end %>
      </h2>
    </div>
    <div class="card-course-detail">
      <i class="fas fa-clock"></i> <%= course.duration_list %>
    </div>
    <div class="card-course-detail level">
      <%= course.level_list %>
    </div>
    <p class="card-course-description"><%= course.description %></p>
  </div>
  <h2 class="card-course-pricing"><%= "#{course.price}円/hr" %></h2>
  <div class="avatar card-course-user" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= course.user.first_name + ' ' + course.user.last_name %>">
    <%= link_to user_path(course.user) do  %>
    <%= cl_image_tag course.user.photo, crop: :fill, class:"avatar profile-avatar" %>
    <% end %>
  </div>
</div>
