<img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
<div class="card-course-infos">
  <div>
    <h2>
      <%= link_to course_path(course) do %>
        <% if course.name.length > 22 %>
          <%= course.name.slice(0..22) + '...' %>
        <% else %>
          <%= course.name %>
        <% end %>
      <% end %>
    </h2>
    <div class="card-course-detail">
      <i class="fas fa-clock"></i> <%= course.duration %>
    </div>
    <div class="card-course-detail level">
      <%= course.level %>
    </div>
    <p><%= course.description %></p>
  </div>
  <h2 class="card-course-pricing">1,500円/hr</h2>
  <div class="avatar card-course-user" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= course.user.first_name + ' ' + course.user.last_name %>">
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-bordered">
  </div>
</div>
