<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6)), url(<%= image_path('banner-home.jpg') %>);">
  <div class="container">
    <h1>Learn. Share. Connect.</h1>
    <p>FindMySensei connects local teachers and students with each other to facilitate a unique learning experience.</p>
    <!-- need user signed in check here to change button feature -->

    <% if user_signed_in? %>
      <%= link_to "Add a Course", new_course_path, class:"btn btn-primary btn-lg px-4 mt-3" %>
    <% else %>
      <!-- <a class="btn btn-primary btn-lg px-4 mt-3" href="#">Sign up</a> -->
      <%= link_to "Sign Up", new_user_session_path, class:"btn btn-primary btn-lg px-4 mt-3" %>
    <% end %>
  </div>
</div>

<div class= "tag-form d-flex container" style="width:80%; justify-content: center;margin: 0 auto;">
<%= simple_form_for :search, html: {class:"w-100"},url: root_path, method: "GET" do |f| %>
  <div class="d-flex justify-content-between">
    <div>
      <%= f.input :level, inline_label: "Level", collection: $level, as: :check_boxes, wrapper: :vertical_collection_inline  %>
    </div>
    <div>
      <%= f.input :duration, label: "Duration", collection: $duration, as: :check_boxes, wrapper: :vertical_collection_inline %>
    </div>
  </div>
  <div class="d-flex flex-row-reverse">
  <%= link_to "Reset", root_path, class: "btn btn-warning"  %>
  <%= f.submit "Search", class: "btn btn-primary" %>
  </div>
<% end %>
</div>

<%if !user_signed_in?%>
  <div class="container">
    <h2>Courses Available</h2>
    <div class="row py-5">
      <% @courses.each do |course| %>
      <div class="col-lg-4 col-md-12">
        <div class="card-course">
          <%= render 'shared/card', course: course %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<%end%>
<%if user_signed_in?%>
  <div class="container">
    <% if !@your_courses.empty? %>
      <h2>Your Courses</h2>
      <div class="row py-5">
          <% @your_courses.reverse.each do |course| %>
            <div class="col-lg-4 col-md-12">
              <div class="card-course">
                <%= render 'shared/card', course: course %>
              </div>
            </div>
          <% end %>
      </div>
    <% end %>
    <h2>Courses Available</h2>
    <div class="row py-5">
      <% @courses_from_others.reverse.each do |course| %>
      <div class="col-lg-4 col-md-12">
        <div class="card-course">
          <%= render 'shared/card', course: course %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<%end%>
