<div class="wrapper form-wrapper">
  <h1 class="header">
    Let's Add a Course
  </h1>
   <%= simple_form_for @course do |f| %>
    <%= f.input :name, placeholder: "What is the course name?"%>
    <%= f.input :level_list, collection: $level %>
    <%= f.input :duration_list, collection: $duration, hint: "in minutes" %>
    <%= f.input :description, placeholder: "Enter course description." %>
    <%= f.input :location, placeholder: "Where would you like to teach?" %>
    <%= f.input :price, placeholder: "Price per hour in 円" %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <div class="d-flex justify-content-between m-2 mt-4">

    <%= link_to "Return Home", root_path, class:"btn" %>
    <%= f.button :submit, class:"btn btn-primary"%>
    </div>
  <% end %>
</div>
