<div class="wrapper form-wrapper">
  <h1 class="header">
    Let's Add a Course
  </h1>
   <%= simple_form_for @course do |f| %>
    <%= f.input :name, placeholder: "What is the course name?"%>
    <%= f.input :level, collection:
      ["Beginner", "Intermediate", "Advanced", "Native"]  %>
    <%= f.input :duration, collection:["20mins", "40mins", "60mins", "80mins", "100mins", "120mins", "140mins", "160mins","180mins"], hint: "in minutes" %>
    <%= f.input :description, placeholder: "Enter course description." %>
    <%= f.input :location, placeholder: "Where would you like to teach?" %>
    <%= f.input :price, placeholder: "Price per hour in 円" %>

    <div class="d-flex justify-content-between m-2 mt-4">

    <%= link_to "Return Home", root_path, class:"btn" %>
    <%= f.button :submit, class:"btn btn-primary"%>
    </div>
  <% end %>
</div>
