<h1>This is the course show</h1>
<br>
<br>
<%= @course.name %>
<%= @course.duration %>
<%= @course.level %>
<%= @course.description %>

<%= link_to "add a booking", new_course_booking_path(@course)%>
<br>
<br>
<%= link_to "EDIT ME", edit_course_path(@course) %>
