<div class="banner secondary" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6)), url(<%= cl_image_path @course.photo, height: 300, width: 1200, crop: :fill %>);">
  <!-- ^^ INSERT COURSE IMAGE ^^ -->
  <div class="container">
    <h1><%= @course.name %></h1>
  </div>
</div>

<div class="container course">
  <div class="row py-5">
    <div class="col-lg-8 col-md-12">
      <h2 class="mb-3">Course Description</h2>
      <p class="level"><%= @course.level_list %></p>
      <p class="duration"><i class="fas fa-clock"></i> <%= @course.duration_list %></p>
      <p class="description mt-3"><%= @course.description %></p>

      <div class="reviews-container border-top py-4">
  <!-- REVIEW SECTION BELOW -->
        <% if !policy(@course).edit? %>
          <h3 class="mb-2">Course reviews</h3>
          <% if @course.reviews.empty? %>
          <p>Be the first to leave a review!</p>
          <% end %>

          <% @course.reviews.each do |review| %>
            <div class="card-review">
              <% review.stars.times do %>
                <i class="fas fa-star full"></i>
              <% end %>
              <% (5 - review.stars).times do %>
                <i class="far fa-star empty"></i>
              <% end %>

              <p class="text-sub"><%= review.user.first_name %> <%= review.user.last_name %></p>
              <p class="review-content"><%=review.content%></p>
            </div>
          <%end%>

          <%if user_signed_in? and @courses_taken.include?(@course.name)%>
          <div class="form-review">
            <%= simple_form_for [@course, @review], html: { class: ' star-rating' } do |f| %>
            <%= f.input :stars, as: :radio_buttons, collection: [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]], label_method: :second, value_method: :first %>
            <%= f.input :content, label: false, placeholder: 'Leave a review...'%>
            <%= f.submit "Submit", class: "btn btn-primary" %>
            <% end %>
          </div>
          <%end%>
        <% end %>
      </div>
    </div>
    <!-- BELOW IS THE SIGN UP FORM -->
    <div class="col-lg-4 col-md-12">
    <% if !policy(@course).edit? %>
        <div class="form-container">
        <h2>Book this course</h2>
        <p>Enter a time and place to meet with you teacher</p>
          <%= render './bookings/form' %>
        </div>
    <% else %>
      <div class="edit-options">
        <%= link_to edit_course_path(@course) do %>
          <i class="fas fa-edit edit"></i>
        <% end %>
        <%= link_to course_path(@course), method: :delete do %>
          <i class="fas fa-times delete"></i>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @marker.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
