<div class="banner secondary" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6)), url(<%= image_path('banner-home.jpg') %>);">
  <!-- ^^ INSERT COURSE IMAGE ^^ -->
  <div class="container">
    <h1><%= @course.name %></h1>
  </div>
</div>

<!-- THIS LOGIC BELOW IS NEEDED
      IT PREVENTS USERS FROM EDITING AND DESTROYING
      ENTRIES THAT AREN'T THEIRS -->
<% if policy(@course).edit? %>
  <%= link_to "EDIT ME", edit_course_path(@course), class:"btn btn-warning" %>
  <br>
  <br>
  <%= link_to "Delete Course?", course_path(@course), method: :delete, class:"btn btn-danger"%>
<% end %>

<!-- Please intergrate the above into the COURSE card -->

<div class="container course">
  <div class="row py-5">
    <div class="col-lg-8 col-md-12">
      <h2 class="mb-3">Course Description</h2>
      <p class="level"><%= @course.level %></p>
      <p class="duration"><i class="fas fa-clock"></i> <%= @course.duration %></p>
      <p class="description mt-3"><%= @course.description %></p>
      
      <div class="reviews-container border-top py-4">
  <!-- REVIEW SECTION BELOW -->
        <% if !policy(@course).edit? %>
          <h3>Review of this course</h3>
          <% @course.reviews.each do |review| %>
          <p>Stars: <%=review.stars%>, Content: <%=review.content%><p>
          <%end%>
          <%if user_signed_in? and @courses_taken.include?(@course.name)%>
          <div class="form-review">
            <%= simple_form_for [@course, @review] do |f| %>
            <%= f.input :stars, as: :radio_buttons, collection: [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]], label_method: :second, value_method: :first %>
            <%= f.input :content, label: false, placeholder: 'Leave a message...'%>
            <%= f.submit "Submit review", class: "btn btn-primary" %>
            <% end %>
          </div>
          <%end%>
        <% end %>
      </div>
    </div>
    <!-- BELOW IS THE SIGN UP FORM -->
    <% if !policy(@course).edit? %>
    <div class="col-lg-4 col-md-12">
      <div class="form-container">
      <h2>Book this course</h2>
      <p>Enter a time and place to meet with you teacher</p>
        <%= render './bookings/form' %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @marker.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>