<div class="banner secondary" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6)), url(<%= image_path('banner-home.jpg') %>);">
  <!-- ^^ INSERT COURSE IMAGE ^^ -->
  <div class="container">
    <h1><%= @course.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row py-5">
    <div class="col-lg-8 col-md-12">
      <%= @course.duration %>
      <%= @course.level %>
      <%= @course.description %>
    </div>
    <div class="col-lg-4 col-md-12">
      <h2>Book this course</h2>
      <p>Enter a time and place to meet with you teacher</p>
      <%= render './bookings/form' %>
    </div>
  </div>
</div>

<!-- THIS LOGIC BELOW IS NEEDED
      IT PREVENTS USERS FROM EDITING AND DESTROYING
      ENTRIES THAT AREN'T THEIRS -->
<% if policy(@course).edit? %>
  <%= link_to "EDIT ME", edit_course_path(@course) %>
  <br>
  <br>
  <%= link_to "Delete Course?", course_path(@course), method: :delete %>
<% end %>
